<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center space-50">
        <ion-label>Enter a username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-label>Enter a password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-icon (click)="goto('home')" name="caret-forward-outline"></ion-icon>
        <h5 class="btn-text">Login</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>