<ion-header>
    <ion-toolbar>
        <img class="ion-text-right profile-img" src="assets/images/profile.jpg" />
        <ion-title class="ion-text-center">Dashboard</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="">

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col size="6" class="ion-text-center">
              <ion-icon (click)="goto('login')" name="arrow-redo-outline"></ion-icon>
              <h5 class="btn-text">Today</h5>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-icon (click)="goto('register')" name="reader-outline"></ion-icon>
              <h5 class="btn-text">History</h5>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-footer>